In [24]:
import pandas as pd

In [25]:
yr = {}
for i in range(2000,2016):
    file = "dist_" + str(i)
    df = pd.read_csv(file)
    df = df.fillna(0)
    dt = df["distance"].tolist()
    yr.update({i:dt})

In [26]:
ls = []
for j in range(len(dt)):
    d = {}
    for k in yr.keys():
        d.update({k:yr[k][j]})
    ls.append(d)

In [27]:
dist_by_year = df.copy()
dist_by_year["distance_by_year"] = ls
dist_by_year = dist_by_year.drop(columns=["Unnamed: 0","distance"])

In [28]:
dist_by_year.head()

   sub1  sub2                                   distance_by_year
0  1000  1000  {2000: 0.0, 2001: 0.0, 2002: 0.0, 2003: 0.0, 2...
1  1000  1100  {2000: 0.1409024500437777, 2001: 0.09730884713...
2  1000  1101  {2000: 0.0, 2001: 0.0, 2002: 0.0, 2003: 0.0, 2...
3  1000  1102  {2000: 0.11411477758714765, 2001: 0.1264031245...
4  1000  1103  {2000: 0.15893021351136769, 2001: 0.1246863033...

In [29]:
dist_by_year.loc[dist_by_year["sub1"] == 1000]["distance_by_year"][1]

{2000: 0.1409024500437777,
 2001: 0.0973088471354871,
 2002: 0.15142291618561096,
 2003: 0.11665896419847276,
 2004: 0.1022064779683006,
 2005: 0.17917346057002595,
 2006: 0.15512699330338553,
 2007: 0.1114875141739339,
 2008: 0.14184470158454662,
 2009: 0.12893673934801947,
 2010: 0.09741734282677493,
 2011: 0.13492878266903902,
 2012: 0.1146042952838835,
 2013: 0.12840944970362891,
 2014: 0.07916680176531304,
 2015: 0.12664546818449285}

In [30]:
dist_by_year.to_csv("dist_by_year.csv")