In [2]:
# read paper_subject_match
import pandas as pd
match = pd.read_csv('paper_subject_match.csv')
match.head(10)

                         id  paper_subject
0  53e99784b7602d9701f3e13e           13.0
1  53e99784b7602d9701f3e4f2           13.0
2  53e9978db7602d9701f4f415           13.0
3  53e99792b7602d9701f56a86           27.0
4  53e99792b7602d9701f5b087            NaN
5  53e99792b7602d9701f5b091           27.0
6  53e99792b7602d9701f5b09f            NaN
7  53e99792b7602d9701f5b0c0           27.0
8  53e99792b7602d9701f5b0c9           27.0
9  53e99792b7602d9701f5b10c           31.0

In [3]:
match.shape

(2552827, 2)

In [4]:
# check for NaN
match.isnull().sum()

id                    0
paper_subject    346615
dtype: int64

In [5]:
# years v.s. counts
match['paper_subject'].value_counts()

27.0    854972
13.0    396195
11.0    221256
28.0     94014
30.0     73408
24.0     68883
31.0     67888
16.0     60198
10.0     58885
22.0     45150
23.0     36837
32.0     35953
29.0     26749
33.0     25913
26.0     25346
35.0     21663
34.0     20479
17.0     18008
25.0     16818
12.0     11115
36.0     10109
15.0      8643
19.0      3654
21.0      1848
20.0      1246
14.0       890
18.0        92
Name: paper_subject, dtype: int64

In [7]:
# 27 subjects + 1 nan
match['paper_subject'].unique()

array([13., 27., nan, 31., 28., 32., 29., 30., 16., 11., 24., 22., 10.,
       12., 33., 35., 26., 20., 17., 34., 36., 19., 25., 15., 23., 14.,
       21., 18.])

In [8]:
# read paper_info
reference = pd.read_csv('paper_info.csv')
reference.head()

,id,year,refereneces,subjects
0,53e99784b7602d9701f3e13e,2011,"['53e99b4ab7602d97023ea8fd', '53e997f8b7602d97...","[1308, 1312, 1307]"
1,53e99784b7602d9701f3e4f2,2002,"['53e9a611b7602d9702f42159', '53e9b316b7602d97...","[2716, 1311, 1313, 1312]"
2,53e9978db7602d9701f4f415,2005,"['53e9aa41b7602d97033af1b3', '53e9b1b0b7602d97...",[1300]
3,53e99792b7602d9701f56a86,2004,"['53e9abbeb7602d970356d932', '53e9ad6cb7602d97...",[2738]
4,53e99792b7602d9701f5b087,2008,"['53e99f9bb7602d970287329d', '53e9abfdb7602d97...","[2503, 2506, 2505, 2508, 2504, 1600, 1503]"

In [9]:
reference.shape

(2552827, 4)

In [10]:
# check for NaN
reference.isnull().sum()

id             0
year           0
refereneces    0
subjects       0
dtype: int64

In [11]:
###### years counts of paper with missing subject ######

# extract rows with NaN
null_data = match[match.isnull().any(axis=1)]
#null_data.head()
null_data_index = null_data.index.values.tolist()
#null_data_index[:10]
null_data_year = reference.loc[null_data_index,'year']
null_data_year.head(10)
# null data years count
null_data_year.value_counts()

2000    50243
2001    38025
2002    32418
2003    26959
2004    24957
2005    22755
2006    21250
2007    18717
2011    17166
2008    16616
2013    15243
2010    15088
2009    14598
2012    13987
2014    12413
2015     6180
Name: year, dtype: int64

In [12]:
###### convert 'references' column to list ######
new_col = []
for i in range(len(reference)):
    words = reference.loc[i,'refereneces']
    words_split = words.split(',')
    for j in range(len(words_split)):
        words_split[j] = words_split[j].strip(" '[]")
    new_col.append(words_split)
    
reference['References'] = new_col
reference.head()

,id,year,refereneces,subjects,References
0,53e99784b7602d9701f3e13e,2011,"['53e99b4ab7602d97023ea8fd', '53e997f8b7602d97...","[1308, 1312, 1307]","[53e99b4ab7602d97023ea8fd, 53e997f8b7602d9701f..."
1,53e99784b7602d9701f3e4f2,2002,"['53e9a611b7602d9702f42159', '53e9b316b7602d97...","[2716, 1311, 1313, 1312]","[53e9a611b7602d9702f42159, 53e9b316b7602d9703d..."
2,53e9978db7602d9701f4f415,2005,"['53e9aa41b7602d97033af1b3', '53e9b1b0b7602d97...",[1300],"[53e9aa41b7602d97033af1b3, 53e9b1b0b7602d9703c..."
3,53e99792b7602d9701f56a86,2004,"['53e9abbeb7602d970356d932', '53e9ad6cb7602d97...",[2738],"[53e9abbeb7602d970356d932, 53e9ad6cb7602d97037..."
4,53e99792b7602d9701f5b087,2008,"['53e99f9bb7602d970287329d', '53e9abfdb7602d97...","[2503, 2506, 2505, 2508, 2504, 1600, 1503]","[53e99f9bb7602d970287329d, 53e9abfdb7602d97035..."

In [13]:
reference.drop('refereneces', axis = 1)

,id,year,subjects,References
0,53e99784b7602d9701f3e13e,2011,"[1308, 1312, 1307]","[53e99b4ab7602d97023ea8fd, 53e997f8b7602d9701f..."
1,53e99784b7602d9701f3e4f2,2002,"[2716, 1311, 1313, 1312]","[53e9a611b7602d9702f42159, 53e9b316b7602d9703d..."
2,53e9978db7602d9701f4f415,2005,[1300],"[53e9aa41b7602d97033af1b3, 53e9b1b0b7602d9703c..."
3,53e99792b7602d9701f56a86,2004,[2738],"[53e9abbeb7602d970356d932, 53e9ad6cb7602d97037..."
4,53e99792b7602d9701f5b087,2008,"[2503, 2506, 2505, 2508, 2504, 1600, 1503]","[53e99f9bb7602d970287329d, 53e9abfdb7602d97035..."
5,53e99792b7602d9701f5b091,2004,[2712],"[53e997fcb7602d97020091fa, 53e9adbdb7602d97037..."
6,53e99792b7602d9701f5b09f,2009,"[2102, 1500, 2103, 3100, 1600]","[53e9a95db7602d97032b676d, 53e99b71b7602d97024..."
7,53e99792b7602d9701f5b0c0,2004,"[2732, 2739, 2737]","[53e99f9bb7602d970286e53d, 53e9a011b7602d97028..."
8,53e99792b7602d9701f5b0c9,2006,[2746],"[53e9a90db7602d970325f655, 53e99e78b7602d97027..."
9,53e99792b7602d9701f5b10c,2009,"[3104, 2500]","[53e99fc9b7602d97028a657e, 53e9af19b7602d97039..."
10,53e99792b7602d9701f5b124,2007,[2804],"[53e9b961b7602d970454dc1a, 53e9ab90b7602d97035..."
11,53e99792b7602d9701f5b12f,2002,[2741],"[55a3de35612ca648687b7456, 53e9bdeeb7602d9704a..."
12,53e99792b7602d9701f5b135,2000,"[2604, 2611, 1101]","[53e9a011b7602d97028f1aa3, 53e9af6eb7602d97039..."
13,53e99792b7602d9701f5b13c,2008,[2700],"[53e9af8db7602d97039d646b, 53e99a0ab7602d97022..."
14,53e99792b7602d9701f5b20e,2005,"[3206, 2737, 2800]","[53e99db8b7602d97026793b7, 53e9ba00b7602d97045..."
15,53e99792b7602d9701f5b213,2006,"[3308, 3312, 3301, 3203, 1607, 1308, 1303]","[56d83cacdabfae2eee6940fd, 56d8eae3dabfae2eee4..."
16,53e99792b7602d9701f5b23e,2009,[2739],"[53e9aca1b7602d970367f401, 53e9bde9b7602d9704a..."
17,53e99792b7602d9701f5b25e,2004,"[2741, 3614]","[53e999b4b7602d97021f60fd, 53e9a70ab7602d97030..."
18,53e99792b7602d9701f5b2ac,2009,"[2701, 2204, 1502]","[53e99d2fb7602d97025e6aab, 53e9b873b7602d97044..."
19,53e99792b7602d9701f5b2b5,2004,"[2746, 2732]","[53e9a4a3b7602d9702dc167c, 55a3f0be2401c6de3b7..."
20,53e99792b7602d9701f5b2b6,2012,"[2729, 2748]","[53e9b43db7602d9703f393b2, 53e9bbf0b7602d97048..."
21,53e99792b7602d9701f5b2c7,2005,"[2604, 1706, 1315, 1303, 1312]","[53e99d13b7602d97025c9d11, 53e9a5e9b7602d9702f..."
22,53e99792b7602d9701f5b326,2001,[2746],"[55a3f871612ca648687f6ffb, 53e9be09b7602d9704a..."
23,53e99792b7602d9701f5b33a,2000,"[1105, 1109]","[53e9ba95b7602d97046c03cc, 53e9aab0b7602d97034..."
24,53e99792b7602d9701f5b36f,2008,[2726],"[53e9a973b7602d97032cbef7, 53e9ad1fb7602d97037..."
25,53e99792b7602d9701f5b39d,2007,[2902],"[56d8fc38dabfae2eeeba5d0f, 53e9af2db7602d97039..."
26,53e99792b7602d9701f5b3ad,2002,"[2726, 2404]","[53e99abdb7602d97023390b9, 53e9984bb7602d97020..."
27,53e99792b7602d9701f5b3b6,2000,"[2613, 2713]","[53e9aa8eb7602d9703408e28, 55a3ea7a2401c6de3b7..."
28,53e99792b7602d9701f5b3d4,2006,[1311],"[53e9ab4fb7602d97034e4876, 53e9bb4bb7602d97047..."
29,53e99792b7602d9701f5b3e4,2006,"[1315, 1312]","[53e9b0d8b7602d9703b568bc, 56d926f5dabfae2eeec..."
...,...,...,...,...
2552797,53e9a089b7602d970296f588,2004,[1314],"[53e9b79fb7602d970434a1d0, 53e9b6cbb7602d97042..."
2552798,53e9a089b7602d970296f5a0,2004,"[2715, 2721]","[53e997bdb7602d9701fa713d, 53e9af68b7602d97039..."
2552799,53e9a089b7602d970296f5a4,2007,"[2738, 2803]","[53e99c8bb7602d9702538fcd, 53e99d80b7602d97026..."
2552800,53e9a089b7602d970296f630,2010,"[1308, 1314, 1307]","[53e9a8beb7602d9703210ada, 55a67a45612ca6eebab..."
2552801,53e9a089b7602d970296f63c,2009,[2703],"[53e9afc7b7602d9703a1a552, 53e9bdd4b7602d9704a..."
2552802,53e9a089b7602d970296f66f,2002,"[2729, 2743, 2741, 3614]","[56d92315dabfae2eeea9c414, 53e9b4d9b7602d9703f..."
2552803,53e9a089b7602d970296f676,2007,"[2734, 2722, 1307]","[53e9a806b7602d970314ad00, 53e9a2ecb7602d9702b..."
2552804,53e9a089b7602d970296f67e,2010,"[2800, 1312, 1300, 2400]","[53e9a93eb7602d97032932f7, 56d818bcdabfae2eee8..."
2552805,53e9a089b7602d970296f681,2010,"[2402, 1305, 1502]","[53e9a86ab7602d97031b830e, 53e9a86fb7602d97031..."
2552806,53e9a089b7602d970296f6a8,2006,[2700],"[53e9bbadb7602d97047f92b7, 55a347fe612ca648686..."
2552807,53e9a089b7602d970296f6d4,2008,"[2720, 2747]","[53e9a96cb7602d97032c20b6, 53e9acbcb7602d97036..."
2552808,53e9a089b7602d970296f6e1,2007,"[1305, 2402]","[53e9b929b7602d970451443a, 53e9a5f0b7602d9702f..."
2552809,53e9a089b7602d970296f6ef,2010,[3107],"[53e9c8e8b7602d9704d01870, 56d90105dabfae2eeed..."
2552810,53e9a089b7602d970296f6f2,2006,"[2746, 2732]","[53e9baf2b7602d97047260d7, 53e99f20b7602d97027..."
2552811,53e9a089b7602d970296f6f3,2011,"[2808, 2805]","[53e9a22bb7602d9702b308e1, 53e99ebdb7602d97027..."
2552812,53e9a089b7602d970296f6f9,2000,"[1303, 1307]","[53e9a6bbb7602d9702fed605, 53e9ae43b7602d97038..."
2552813,53e9a089b7602d970296f708,2000,[2731],"[53e99ea0b7602d9702768628, 55a4bafc24011b361ac..."
2552814,53e9a089b7602d970296f71c,2008,[1000],"[53e9a01fb7602d9702906424, 53e9bb01b7602d97047..."
2552815,53e9a089b7602d970296f71d,2004,"[2723, 2403]","[53e9b937b7602d97045222bc, 55a48bcc612ca648689..."
2552816,53e9a089b7602d970296f75b,2004,"[2808, 2806]","[53e9b839b7602d97043f841c, 53e9a957b7602d97032..."
2552817,53e9a089b7602d970296f77c,2010,[3002],"[55a669e2612ca6eebaaf504e, 55a410d2612ca648688..."
2552818,53e9a089b7602d970296f783,2008,"[1303, 2720, 2403, 1307]","[55a5bd69612c6b12ab2c8822, 53e99ec3b7602d97027..."
2552819,53e9a089b7602d970296f792,2001,"[1304, 1303, 1312, 1307]","[53e9a1c3b7602d9702abdd3d, 56d91e6fdabfae2eee8..."
2552820,53e9a089b7602d970296f7be,2006,[2715],"[55a4902a612ca648689b22ca, 53e99f27b7602d97027..."
2552821,53e9a089b7602d970296f7e5,2005,"[1110, 1314, 1311]","[53e99f64b7602d9702836c48, 53e9ba7db7602d97046..."
2552822,53e9a089b7602d970296f80f,2009,"[1602, 1303]","[53e9b1f1b7602d9703c83b1c, 53e9b6e1b7602d97042..."
2552823,53e9a089b7602d970296f864,2012,"[2604, 2611, 1300, 2400]","[53e9b71db7602d97042b6dda, 53e9bb2fb7602d97047..."
2552824,53e9a089b7602d970296f86a,2009,"[2746, 2732]","[53e9b564b7602d970409a893, 55a4b9a9c91bf3b1cc4..."
2552825,53e9a089b7602d970296f892,2007,"[1204, 3302, 1200]","[53e9b343b7602d9703e15f22, 53e9b05cb7602d9703a..."
2552826,53e9a089b7602d970296f893,2007,[2703],"[53e9af26b7602d970395df6d, 53e9b627b7602d97041..."

In [14]:
##### add paper's subject as new col ######
reference['paper_subject'] = match['paper_subject']

In [15]:

###### find subjects of references ######
reference_subject = []
for i in range(len(reference)):
    subjects = []
    for j in range(len(reference.loc[i,'References'])):
        if reference.loc[i,'References'][j] not in match['id'].tolist():
            continue
        else:
            subject = match[ match['id'] == reference.loc[i, 'References'][j]]['paper_subject']
            subjects.append(subject)
    reference_subject.append(subjects)
            
reference['reference_subjects'] = reference_subject
reference.head()

KeyboardInterrupt:

In [ ]:
###### separate pairs
impact = reference.loc[:,['paper_subject', 'reference_subjects']]
def explode(df, lst_cols, preserve_index=False):
    # make sure `lst_cols` is list-alike
    if (lst_cols is not None
        and len(lst_cols) > 0
        and not isinstance(lst_cols, (list, tuple, np.ndarray, pd.Series))):
        lst_cols = [lst_cols]
    # all columns except `lst_cols`
    idx_cols = df.columns.difference(lst_cols)
    # calculate lengths of lists
    lens = df[lst_cols[0]].str.len()
    # preserve original index values    
    idx = np.repeat(df.index.values, lens)
    # create "exploded" DF
    res = (pd.DataFrame({
                col:np.repeat(df[col].values, lens)
                for col in idx_cols},
                index=idx)
             .assign(**{col:np.concatenate(df.loc[lens>0, col].values)
                            for col in lst_cols}))
    # append those rows that have empty lists
    if (lens == 0).any():
        # at least one list in cells is empty
        res = (res.append(df.loc[lens==0, idx_cols], sort=False)
    # revert the original index order
    res = res.sort_index()
    # reset index if requested
    if not preserve_index:        
        res = res.reset_index(drop=True)
    return res

impact2 = explode(impact, 'reference_subjects')
impact2.dropna(inplace = True)

In [ ]:
###### occurence matrix
matrix = pd.get_dummies(impact2['reference_subjects']).groupby(impact2['paper_subject']).apply(sum)
matrix

In [ ]:
###### TF-IDF
impact3 = impact2.groupby(['paper_subject','reference_subjects']).size()
N = len(impact3['paper_subject'].unique())
D = dict(impact3['reference_subjects'].value_counts())

import numpy as np
idf = {}
for d in D:
    idf[d] = np.log( N / D[d] )

In [ ]:
for key in idf:
    matrix.loc[key] = matrix.loc[key] * idf[key]
matrix

In [ ]:
###### visualization of matrix
%matplotlib inline
import seaborn as sns
sns.heatmap(matrix)

In [ ]:
# Drafts below

In [ ]:
###### counts
impact3 = impact2.groupby(['paper_subject','reference_subjects']).size().reset_index().rename(columns={0:'count'})
impact3

In [ ]:
###### TF-IDF (weights)
N = len(impact3['paper_subject'].unique())
D = {}
for num in impact3['reference_subject'].unique():
    for ps in impact3['paper_subject'].unique:
        if num in impact3[ impact3['paper_subject'] == ps ]['reference_subject']:
            if num in D:
                d[num] += 1
            else:
                d[num] = 1
        else:
            continue

print(D)

In [ ]:
import numpy as np
idf = N / np.array(D)

weighted = []
for i in range(len(impact3)):
    key = impact.loc[i,'reference_subject']
    res = impact.loc[i,'count'] * D[key]
    weighted.append(res)
        
impact3['tf_idf'] = weighted
impact3.head()

In [ ]:
###### matrix